{% load staticfiles %}

<html lang="en">
	<head>
		<meta name="author" content="Srikanth Chelluri">

		<title>Ping</title>

		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/cover.css" %}" rel="stylesheet">
		<link href="{% static "css/normalize.css" %}" rel="stylesheet">
	</head>

	<body>

		<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="inner cover">
            <h1 class="display-4" style="font-size: 38px">
            	<b>{{ user.first_name }} {{ user.last_name }}</b>
            	<p class="lead"><a href="/list/logout/">@{{ user.username }}</a></p>
            </h2>

            <form id="ping_form" method="post" action="/list/send_ping/" style="padding-top: 25px">
							{% csrf_token %}
							<div class="form-group input-group">
								<div class="input-group-addon">@</div>
								<input type="text" name="owner" class="form-control input-lg" placeholder="to" required>
								<!-- add look ahead -->
							</div>
							<div class="form-group">
								<input type="text" name="description" class="form-control" placeholder="brief description (optional)">
							</div>
							<button type="submit" name="submit" value="normal" class="btn btn-default">ping with normal priority</button>
							<button type="submit" name="submit" value="priority" class="btn btn-danger">ping with high priority</button>
						</form>

						<br>

						<div class="row">
							<div class="col-md-6">
								<table class="table table-hover">
									<thead>
										<tr>
											<td style="font-size: 30px"><b>people who pinged you</b></td>
										</tr>
									</thead>
									<tbody>
										{% if ping_list %}
											{% for ping in ping_list %}
											<tr>
												<td>
													<b style="font-size: 24px">{{ ping.requester.first_name }} {{ ping.requester.last_name }}.</b>
													<span>@{{ ping.requester.username }}</span>
													{% if ping.priority %}
														<span style="font-size: 12px"> · This is high priority</span>
													{% endif %}
													<br>
													{% if ping.description %}
														<b>{{ ping.description }}</b>
														<br>
													{% endif %}
													<span style="font-size: 12px">{{ ping.time|timesince }} ago</span>
												</td>
											</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td>no one :(</td>
											</tr>
										{% endif %}
									</tbody>
								</table>
							</div>

							<div class="col-md-6">
								<table class="table table-hover">
									<thead>
										<tr>
											<td style="font-size: 30px"><b>people you've pinged</b></td>
										</tr>
									</thead>
									<tbody>
										{% if sent_list %}
											{% for ping in sent_list %}
											<tr>
												<td>
													<b style="font-size: 24px">{{ ping.owner.first_name }} {{ ping.owner.last_name }}.</b>
													<span>@{{ ping.owner.username }}</span>
													{% if ping.priority %}
														<span style="font-size: 12px"> · This is high priority</span>
													{% endif %}
													<br>
													{% if ping.description %}
														{{ ping.description }}
														<br>
													{% endif %}
													<span style="font-size: 12px">{{ ping.time|timesince }} ago</span>
												</td>
											</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td>nothing here :(</td>
											</tr>
										{% endif %}
									</tbody>
								</table>
							</div>
          </div>
        	
        	<!---
        	Srikanth Chelluri
					Copyright &copy; 2016 · All rights reserved.
					-->

        </div>
      </div>
    </div>

	</body>
</html>